<div class="height">
    <app-navbar></app-navbar>
</div>

<app-carousel></app-carousel>

<div class="title logo-text center" id="about">
<div class="height"></div> About Us</div>
<app-about-us></app-about-us>
<div class="title logo-text center" id="stories">
<div class="height"></div> All Stories</div>
<app-all-stories></app-all-stories>
<div class="title logo-text center" id="events"><div class="height"></div>Upcoming Events</div>
<app-upcoming-events></app-upcoming-events>
<div class="title logo-text center" id="contact"><div class="height"></div>Contact Us</div>
<app-contact-us></app-contact-us>

<router-outlet></router-outlet>