.thumb{
    width: 100%;
} 
.shadow{
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 6px #dad2d2;
} 

.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  
  .item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
  }