<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="grid-container" id="lightgallery">
                <div class="grid-item item1">
                    <a href="assets/images/kala1.jpg" class="big">
                        <img src="assets/images/onion1.jpg" class="thumb" />
                    </a>
                </div>
                <div class="grid-item item2">
                    <a href="assets/images/kala1.jpg" class="big">
                        <img src="assets/images/onion1.jpg" class="thumb" />
                    </a>
                </div>
                <div class="grid-item item3">
                    <a href="assets/images/kala1.jpg" class="big">
                        <img src="assets/images/onion1.jpg" class="thumb" />
                    </a>
                </div>
                <div class="grid-item item4">
                    <a href="assets/images/kala1.jpg" class="big">
                    <img src="assets/images/onion1.jpg" class="thumb" />
                </a>
                </div>
                <div class="grid-item item5">hi</div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="col-md-6">
            <div id="lightgallery" class="shadow">
                <a href="assets/images/kala1.jpg" class="big">
                    <img src="assets/images/onion1.jpg" class="thumb" />
                </a>
                <a href="assets/images/kala2.jpg" class="big">
                    <img src="assets/images/onion2.jpg" class="thumb" />
                </a>
                <a href="assets/images/kala2.jpg" class="big large">
                    <img src="assets/images/onion2.jpg" class="thumb large" />
                </a>
            </div>
        </div> -->