<div class="container">
    <div class="row">
        <div class="col-md-7">
            <!-- <div class="logo-text">{{about?.title}}</div>
            <p class="slogan">{{about?.para1}}</p>
            <p class="slogan">{{about?.para2}}</p>
            <p class="slogan">{{about?.para3}}</p> -->
             
            <p class="logo-text">
              "Creative is intelligence having fun" - Albert Einstein.
            </p>
           <div>
            <p class="slogan">
              Kalakuteera began on 1st September 2009 at Kasturinagar by Vanitha Hebbar who has dedicated her life to sculpt the budding minds to be more creative. The main aspect of her life is to spread smile and positive thinking. "Smile is the secret of her ever enthusiastic energy". Kalakuteera is one stop learning center for all age groups. Here we conduct workshops and classes such as drawing, handwriting, shloka, spoken kannada and more. We also conduct summer camps yearly twice where kids are involved in various activities related to art, craft, and science.
            </p>
            <p class="slogan">
              An unexpected second journey of Kalakuteera started at Maddur by Shobitha on March 2018. She is an extremely young and lively teacher who makes the classes more interactive and fun. Classes conducted here are spoken kannada, drawing, handwriting, shloka, devarnama, and tuitions for all subjects.
            </p>
            <p class="slogan">
              Shravya started the third venture of Kalakuteera on August 2019. She always believes in "Do what makes you happy" and when she started sketching and painting as a hobby she found her true happiness. Here at Jayanagar we will be conducting many workshops related to painting, sketching, baking, gardening, decoupage, chocolate making, embroidery, art and craft and the list goes on. We also conduct workshops at other places as well such as hospitals, corporate offices, schools, and so on.
            </p>
            <p class="slogan">
              Where there is charity and wisdom, there is neither fear nor ignorance. Kalakuteera is not only spreading wisdom but also work with many charity organizations. Here people at kalakuteera do not do any great things but only small things with great love.
              Kalakuteera has grown more than expected today where we have a community of talented teachers who collaborate together to teach and enhance skills in every individual.
            </p>
            <p class="slogan">
              Hearty welcome to Kalakuteera, it is definitely going to be a great place for all the hobby enthusiasts and the best learning environment for kids and adults. You will definitely find your creative space here.
            </p>
            </div>
        </div>
        <div class="col-md-5">
            <div id="demo1" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo1" data-slide-to="0" class="active"></li>
                  <li data-target="#demo1" data-slide-to="1"></li>
                  <li data-target="#demo1" data-slide-to="2"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/images/Shravya.jpg" alt="Shravya" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/Shobitha.jpg" alt="Shobitha" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/Vanitha-Hebbar.jpg" alt="Vanitha-Hebbar" width="1100" height="500">
                  </div> 
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo1" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
        </div>
    </div>
</div>

