
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>KALAKUTEERA</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['dashboard']" class="sidebar-link" [routerLinkActive]="'is-active'">Dashboard</a>
        <a mat-list-item [routerLink]="['scroller']" class="sidebar-link" [routerLinkActive]="'is-active'">Scroller</a>
        <a mat-list-item [routerLink]="['about']" class="sidebar-link" [routerLinkActive]="'is-active'">About</a>
        <a mat-list-item [routerLink]="['event']" class="sidebar-link" [routerLinkActive]="'is-active'">Event</a>
        <a mat-list-item [routerLink]="['story']" class="sidebar-link" [routerLinkActive]="'is-active'">Story</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <!-- <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="!isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> -->
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span></span>
        <span class="example-spacer"></span>
        <span class="logout" (click)="logout()">Logout</span>
        
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="container mt-3">
          <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>